---
export const prerender = false
---
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>UTF-8 Test</title>
  </head>
  <body>
    <h1>á é í ó ú ç ã õ</h1>
    <p>Psicólogo clínico especializado em ansiedade e depressão</p>
  </body>
</html>
